@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 50, 50, 50;
	--background-rgb: 227, 233, 247;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-rgb: 0, 0, 0;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
	font-weight: 600;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
